.navbar {

    height: 70px;

    background-color: #1e293b;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 40px;

}


.logo {

    color: white;

    font-size: 22px;

    font-weight: bold;

}


.links {

    display: flex;

    gap: 25px;

}


.links a {

    color: white;

    text-decoration: none;

    font-weight: bold;

}


.links a:hover {

    color: #60a5fa;

}